.store {
    transform: translateY(var(--height-header));
    margin: 2rem auto;
    max-width: 1200px;
    height: 500px;
    min-height: 30vh;
}

.store_title {
    font-size: 30px;
    margin-left: 20px;
}

#store_list {
    margin: 15px 40px 15px 80px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: 320px;
    overflow-x: hidden;
}

.store_item {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: solid 1px rgb(163, 157, 157);
    justify-content: space-between;
}

.store_img {
    height: 100%;
    object-fit: contain;
}

.store_name {
    margin:auto 10px;
    width: 200px;
}

.store_count {
    margin: auto 1px;
    font-size: 1.4rem;
    display: flex;
}

.store_add-product,
.store_remove-product {
    margin: auto 10px;
}

.store_delete-product {
    margin-top: 20px;
    font-size: 20px;
}

.store_delete-product:hover {
    cursor: pointer;
}

.store_pay {
    margin: 10px;
    transform: translateX(800px);
}

.store_pay p {
    font-size: 18px;
}

.store_pay button {
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(236, 25, 25);
    color: var(--color-white);
    opacity: 0.8;
}

.store_pay button:hover {
    opacity: 1;
    cursor: pointer;
}

.store_null {
    display: flex;
    margin: 30px;
    font-size: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.store_null-link {
    margin-left: 10px;
    color: red;
}

/* Responsive  */

@media (min-width: 1024px) and (max-width: 1300px){
    .store_list {
        margin: 15px 40px;
    }
}   

/*pc */

@media (min-width: 740px) and (max-width:1023px) {
    .store {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #store_list {
        height: 300px;
    }

    .store_null-link {
        margin-top: 10px;
    }

    .store_pay {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: none;
        margin: 20px 60px;
    }

    .store_pay p {
        font-size: 20px;
    }

    .store_pay button {
        padding: 20px;
        font-size: 16px;
        margin-top: 20px;
        margin-right: 10px;
    }

    .store_delete-product {
        margin-right: 10px;
        font-size: 22px;
    }

    .store_add-product,
    .store_remove-product {
        font-size: 24px;
    }

    .store_name {
        font-size: 18px;
    }
    
}

/* tablet */
@media  (min-width: 481px) and (max-width: 740px){
    .store {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #store_list {
        margin: 20px 40px 15px 30px;
        height: 280px;
    }

    .store_null {
        margin: 30px 10px;
    }
    .store_null-link {
        margin-top: 20px;
    }
    .store_pay {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: none;
        margin: 30px 60px;
    }

    .store_pay p {
        font-size: 20px;
    }

    .store_pay button {
        padding: 20px;
        font-size: 18px;
        margin-top: 20px;
    }

    .store_delete-product {
        margin-right: 10px;
        font-size: 24px;
    }

    .store_add-product,
    .store_remove-product {
        font-size: 26px;
    }

    .store_name {
        font-size: 20px;
    }
}


/* mobile */
@media (max-width: 480px ) {

}