.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(245, 247, 249);
    border-top: 1px solid rgb(182, 180, 176);
}

.footer a {
    color: red;
}
